#back-buttons {
  padding-top: 25px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#back-buttons span {
  font-size: 35px;
}

#back-buttons #home-button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#back-buttons #back {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
