#back-buttons {
    padding-top: 25px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    position: sticky;
    justify-content: flex-start;
    span {
        font-size: 35px;
    }
    #home-button {
        order: 2;
    }
    #back {
        flex-basis: 45%;
        order: 1;
    }
}