#city-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#city-outer #logged-out {
  text-decoration: underline;
}

#city-outer #all-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#city-outer .on-cities {
  display: inline-block;
}

#city-outer ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#city-outer ul li {
  list-style: none;
  margin-top: 15px;
  margin-left: -10.5px;
}

#city-outer ul li span {
  background: rgba(17, 17, 43, 0.5);
  font-size: 5vw;
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

#city-outer ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 15vw;
  width: 95vw;
}
