#city-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    #logged-out{
        text-decoration: underline;
    }
    #all-cities{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .on-cities{
        display: inline-block;
    }
    ul {
        align-self: flex-start;
        li {
            list-style: none;
            margin-top: 15px;
            margin-left: -10.5px;
            span {
                background: rgba(17, 17, 43, 0.5);
                font-size: 5vw;
                color: white;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 50%);
            }
            img {
                object-fit: cover;
                height: 15vw;
                width: 95vw;
            }
        }
    }
}