#city-itineraries #city-data #available-text {
  margin-left: 10px;
}

#city-itineraries #city-data #header-image {
  margin-top: 1em;
  margin-left: 7px;
}

#city-itineraries #city-data #header-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14vw;
  width: 96vw;
}

#city-itineraries #city-data #header-image span {
  background: rgba(17, 17, 43, 0.5);
  font-size: 5vw;
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

#city-itineraries #city-data #profile-pic {
  height: 35em;
  width: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#city-itineraries .card-itinerary {
  margin: 0 1px;
  margin-bottom: 15px;
}

#city-itineraries .card-itinerary .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#city-itineraries .card-itinerary .body .title {
  font-size: 20px;
  padding: 0 10px;
}

#city-itineraries .card-itinerary .body .img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -10px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

#city-itineraries .card-itinerary .body .description, #city-itineraries .card-itinerary .body .hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#city-itineraries .card-itinerary .body .description .text-push, #city-itineraries .card-itinerary .body .hashtags .text-push {
  font-size: 14px;
  padding: 0 10px;
}

#city-itineraries .card-itinerary .more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#city-itineraries .card-itinerary .more-button .text {
  font-size: 19px;
}

#city-itineraries .card-itinerary .more-button #add-comment {
  width: 85vw;
}

#city-itineraries .like {
  margin: -25px 0 0 45%;
}

#city-itineraries #another-city {
  text-decoration: underline;
}

#city-itineraries footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
