

#city-itineraries{
    #city-data{
        #available-text{
            margin-left: 10px;
        }
        #header-image {
            margin-top: 1em;
            margin-left: 7px;
            img {
                object-fit: cover;
                height: 14vw;
                width: 96vw;
            }
            span {
                background: rgba(17, 17, 43, 0.5);
                font-size: 5vw;
                color: white;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 50%);
            }
        }
        #profile-pic{
            height: 35em;
            width: 75vw;
            object-fit: cover;
        }    
    }
    .card-itinerary{
        margin: 0 1px;
        margin-bottom: 15px;
        .body {
            display: flex;
            flex-direction: row; 
            align-items: center;
            .title {
                font-size: 20px;
                padding: 0 10px;
            }
            .img {
                object-fit: cover;
                margin-left: -10px;
                width: 100px;
                height: 100px;
                border-radius: 100px;
            }
            .description, .hashtags {
                display: flex;
                flex-direction: row;
                .text-push{
                    font-size: 14px;
                    padding: 0 10px;
                }
            }
        }
        .more-button {
            display: flex;
            flex-direction: column;
            .text {
                font-size: 19px;
            }
            #add-comment {
                width: 85vw;
            }
        }
    }
    
    .like {
        margin: -25px 0 0 45%;
    }
    
    #another-city {
        text-decoration: underline
    }
    
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -10px;
        align-items: center;
    }
}
