.comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-section p {
  display: inline-block;
}

.comment-section .all-comments {
  width: 100%;
  border: solid;
  border-color: black;
  border-width: 1px;
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 10px;
  text-align: center;
}

.comment-section .new-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-left: 10px;
}

.comment-section .new-comment button, .comment-section .new-comment input[type="submit"], .comment-section .new-comment input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.comment-section .new-comment input {
  width: 85%;
  font-size: 20px;
}

.comment-section .new-comment span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 8vw;
}

.comment-section .comment {
  border-color: #929292;
  border-style: solid;
  border-width: 5px;
}

.comment-section .comment .content {
  font-size: 20px;
}

.comment-section .comment .username {
  font-size: 15px;
  font-weight: bold;
}

.comment-section .comment .edit-style {
  padding: 20px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.comment-section .comment .edit-style input {
  font-size: 20px;
  margin-bottom: 20px;
}

.comment-section .comment .edit-style span {
  font-size: 8vw;
}
