.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        display: inline-block;
    }
    .all-comments{
        width: 100%;
        border: solid;
        border-color: black;
        // border-radius: 10px;
        border-width: 1px;
        height: 150px;
        overflow-y: scroll;
        margin-bottom: 10px;
        text-align: center;
    }
    .new-comment{
        button, input[type="submit"], input[type="reset"] { //remove all styling from button, make it "invisible"
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 10px;
        input {
            width: 85%;
            font-size: 20px;
        }
        span{
            align-self: flex-start;
            font-size: 8vw;
        }
    }

    .comment {
        border-color: rgb(146, 146, 146);
        border-style: solid;
        border-width: 5px;
        .content {
            font-size: 20px;
        }
        .username{
            font-size: 15px;
            font-weight: bold;
        }
        .edit-style{
            padding: 20px 0 10px 0;
            display: flex;
            justify-content: space-evenly;
            input {
                font-size: 20px;
                margin-bottom: 20px;
            }
            span {
                font-size: 8vw;
            }
        }
    }
    
}