#create-new-account {
  text-align: center;
}

#create-new-account #title p {
  font-size: 20px;
  margin: 20px;
}

#create-new-account #add-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid;
  width: 45vw;
  height: 45vw;
  margin-top: 20px;
  margin-left: 30vw;
  text-decoration: underline;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 25px;
}

#create-new-account #add-image p {
  margin-top: 40%;
  color: #3b3bff;
  font-size: 14px;
  font-weight: bold;
}

#create-new-account #add-image #preview-img {
  width: auto;
  height: 110%;
}

#create-new-account form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 19px;
}

#create-new-account form label {
  margin: 10px 15px 10px 20px;
  float: left;
  width: 30%;
}

#create-new-account form input {
  position: absolute;
  right: 0;
  width: 55%;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: 10px 15px 10px 20px;
  float: right;
}

#create-new-account form select {
  margin: 10px 20% 10px 0;
}

#create-new-account form #create-button {
  width: 6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}
