#create-new-account {
    text-align: center;
    #title{
        p {
        font-size: 20px;
        margin: 20px;
        }
    }
    #add-image {
        display: flex;
        flex-direction: column;
        border: solid;
        width: 45vw;
        height: 45vw;
        margin-top: 20px;
        margin-left: 30vw;
        text-decoration: underline;
        border-radius: 50%;
        overflow: hidden;
        p {
            margin-top: 40%;
            color:  rgb(59, 59, 255);
            font-size: 14px;
            font-weight: bold;
        }
        #preview-img {
            width: auto;
            height: 110%;
        }
        margin-bottom: 25px;
    }
    form {
        $marginS: 10px 15px 10px 20px;
        display: flex;
        flex-direction: column;
        font-size: 19px;
        label {
            margin: $marginS;
            float: left;
            width: 30%;
        }
        input {
            position: absolute;
            right: 0;
            width: 55%;
            border-style: solid;
            border-width: 2px;
            border-radius: 4px;
            margin: $marginS;
            float: right;
        }

        select {
            margin: 10px 20% 10px 0;
        }

        #create-button {
            width: 6rem;
            align-self: center;
            font-size: 20px;
            margin-top: 25px;
            margin-bottom: 10px;
        }
    }
}