#landing {
    text-align: center;
    .Logo {
        img {
        width: 65vw;
        }
    }
    
    .BrowsingArrow {
        p {
        font-size: 40px;
        font-family: 'Be Vietnam', sans-serif;
        }
        img {
        width: 40vw;
        margin-top: 0;
        }
    }
}