#landing {
  text-align: center;
}

#landing .Logo img {
  width: 65vw;
}

#landing .BrowsingArrow p {
  font-size: 40px;
  font-family: 'Be Vietnam', sans-serif;
}

#landing .BrowsingArrow img {
  width: 40vw;
  margin-top: 0;
}
