.like,
.liked {
    font-size: 65px;
    display: inline-block;
}

.like {
    transition: color 0.5s ease;
    color: gray;
}

.liked {
    transition: color 0.1s ease;
    color: red;
    animation: .35s heartBeat;
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1);
    }
}
