.like,
.liked {
  font-size: 65px;
  display: inline-block;
}

.like {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: gray;
}

.liked {
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  color: red;
  -webkit-animation: .35s heartBeat;
          animation: .35s heartBeat;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
