.lds-ring { //loading ring
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 0, 0) transparent transparent transparent;
    }
  div:nth-child(1) {
    animation-delay: -0.45s;
  }
  div:nth-child(2) {
    animation-delay: -0.3s;
  }
  div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.on-comment {
    display: inline-block;
    align-self: center;
    text-align: center;
    justify-content: center;
    transform: translateY(50%); //center it above the below thing
}

.on-cities {
  align-self: center;
  text-align: center;
  margin-top: 25px;
}

.on-create{
  align-self: center;
  text-align: center;
  margin-left: 40%;
}