#login {
    text-align: center;
    #form {
        font-weight: 600;
        font-size: 19px;
        p {
            font-size: 25px;
            margin: -10px 0 25px 0;
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                margin: 20px 15px 20px 20px;
                float: left;
                width: 10%;
            }
            input {
                width: 60%;
                border-style: solid;
                border-width: 2px;
                border-radius: 4px;
                margin: 20px 15px 20px 20px;
                float: right;
            }
            #remember-me {
                display: flex;
                input {
                    width: 15px;
                    transform: scale(1.5);
                    border: none;
                }
                label {
                    font-size: 16px;
                    width: 30%;
                    order: 2;
                    margin-top: 14px;
                    margin-left: -10px;
                }
            }
        }
        #login-button {
            width: 6rem;
            align-self: center;
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
    #other-login {
        text-align: center;
        display: flex;
        justify-content: center;
        #google {
            margin: 0;
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 13px;
                width: 85vw;
                justify-content: space-around;
                p {
                    font-size: 23px;
                    padding-right: 10vw;
                }
                img {
                    width: 85px;
                }
            }
        }
    }
    footer {
        p {
            margin: 25px 0 0 0;
        }
        #create {
            font-size: 25px;
            padding-bottom: 25px;
            text-decoration: underline;
        }
    }
}