#login {
  text-align: center;
}

#login #form {
  font-weight: 600;
  font-size: 19px;
}

#login #form p {
  font-size: 25px;
  margin: -10px 0 25px 0;
}

#login #form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login #form form label {
  margin: 20px 15px 20px 20px;
  float: left;
  width: 10%;
}

#login #form form input {
  width: 60%;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: 20px 15px 20px 20px;
  float: right;
}

#login #form form #remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login #form form #remember-me input {
  width: 15px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border: none;
}

#login #form form #remember-me label {
  font-size: 16px;
  width: 30%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 14px;
  margin-left: -10px;
}

#login #form #login-button {
  width: 6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  margin-bottom: 25px;
}

#login #other-login {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login #other-login #google {
  margin: 0;
}

#login #other-login #google div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px;
  width: 85vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#login #other-login #google div p {
  font-size: 23px;
  padding-right: 10vw;
}

#login #other-login #google div img {
  width: 85px;
}

#login footer p {
  margin: 25px 0 0 0;
}

#login footer #create {
  font-size: 25px;
  padding-bottom: 25px;
  text-decoration: underline;
}
