@import 'cityItineraries',
'landing',
'cities',
'createAccount',
'like',
'login',
'topBar',
'bottomButtons',
'commentSection',
'loadingRing';
* {
    margin: 0;
    padding: 0;
}

.row {
    height: 300px;
    img {
        height: 100%;
        object-fit: cover;
    }
    .active {
        background: green($color: #000000);
    }
}

a {
    font-size: 17px;
    display: inline-block;
    margin-left: 20px;
}

p {
    font-size: 19px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: black !important;
}