#city-itineraries #city-data #available-text {
  margin-left: 10px;
}

#city-itineraries #city-data #header-image {
  margin-top: 1em;
  margin-left: 7px;
}

#city-itineraries #city-data #header-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 14vw;
  width: 96vw;
}

#city-itineraries #city-data #header-image span {
  background: rgba(17, 17, 43, 0.5);
  font-size: 5vw;
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

#city-itineraries #city-data #profile-pic {
  height: 35em;
  width: 75vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#city-itineraries .card-itinerary {
  margin: 0 1px;
  margin-bottom: 15px;
}

#city-itineraries .card-itinerary .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#city-itineraries .card-itinerary .body .title {
  font-size: 20px;
  padding: 0 10px;
}

#city-itineraries .card-itinerary .body .img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -10px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

#city-itineraries .card-itinerary .body .description, #city-itineraries .card-itinerary .body .hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#city-itineraries .card-itinerary .body .description .text-push, #city-itineraries .card-itinerary .body .hashtags .text-push {
  font-size: 14px;
  padding: 0 10px;
}

#city-itineraries .card-itinerary .more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#city-itineraries .card-itinerary .more-button .text {
  font-size: 19px;
}

#city-itineraries .card-itinerary .more-button #add-comment {
  width: 85vw;
}

#city-itineraries .like {
  margin: -25px 0 0 45%;
}

#city-itineraries #another-city {
  text-decoration: underline;
}

#city-itineraries footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing {
  text-align: center;
}

#landing .Logo img {
  width: 65vw;
}

#landing .BrowsingArrow p {
  font-size: 40px;
  font-family: 'Be Vietnam', sans-serif;
}

#landing .BrowsingArrow img {
  width: 40vw;
  margin-top: 0;
}

#city-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#city-outer #logged-out {
  text-decoration: underline;
}

#city-outer #all-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#city-outer .on-cities {
  display: inline-block;
}

#city-outer ul {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#city-outer ul li {
  list-style: none;
  margin-top: 15px;
  margin-left: -10.5px;
}

#city-outer ul li span {
  background: rgba(17, 17, 43, 0.5);
  font-size: 5vw;
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

#city-outer ul li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 15vw;
  width: 95vw;
}

#create-new-account {
  text-align: center;
}

#create-new-account #title p {
  font-size: 20px;
  margin: 20px;
}

#create-new-account #add-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid;
  width: 45vw;
  height: 45vw;
  margin-top: 20px;
  margin-left: 30vw;
  text-decoration: underline;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 25px;
}

#create-new-account #add-image p {
  margin-top: 40%;
  color: #3b3bff;
  font-size: 14px;
  font-weight: bold;
}

#create-new-account #add-image #preview-img {
  width: auto;
  height: 110%;
}

#create-new-account form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 19px;
}

#create-new-account form label {
  margin: 10px 15px 10px 20px;
  float: left;
  width: 30%;
}

#create-new-account form input {
  position: absolute;
  right: 0;
  width: 55%;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: 10px 15px 10px 20px;
  float: right;
}

#create-new-account form select {
  margin: 10px 20% 10px 0;
}

#create-new-account form #create-button {
  width: 6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.like,
.liked {
  font-size: 65px;
  display: inline-block;
}

.like {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: gray;
}

.liked {
  -webkit-transition: color 0.1s ease;
  transition: color 0.1s ease;
  color: red;
  -webkit-animation: .35s heartBeat;
          animation: .35s heartBeat;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#login {
  text-align: center;
}

#login #form {
  font-weight: 600;
  font-size: 19px;
}

#login #form p {
  font-size: 25px;
  margin: -10px 0 25px 0;
}

#login #form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#login #form form label {
  margin: 20px 15px 20px 20px;
  float: left;
  width: 10%;
}

#login #form form input {
  width: 60%;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  margin: 20px 15px 20px 20px;
  float: right;
}

#login #form form #remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login #form form #remember-me input {
  width: 15px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border: none;
}

#login #form form #remember-me label {
  font-size: 16px;
  width: 30%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 14px;
  margin-left: -10px;
}

#login #form #login-button {
  width: 6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  margin-bottom: 25px;
}

#login #other-login {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login #other-login #google {
  margin: 0;
}

#login #other-login #google div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px;
  width: 85vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#login #other-login #google div p {
  font-size: 23px;
  padding-right: 10vw;
}

#login #other-login #google div img {
  width: 85px;
}

#login footer p {
  margin: 25px 0 0 0;
}

#login footer #create {
  font-size: 25px;
  padding-bottom: 25px;
  text-decoration: underline;
}

#top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 25px 15px 25px;
}

#top-bar #user-button {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  background-color: transparent;
  color: black;
  background-size: cover;
  border-radius: 50%;
}

#top-bar #no-pfp {
  padding: 25px 0 0 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  background-color: red;
  color: red;
  z-index: 1;
}

#top-bar #logout-button p {
  color: #529cfc;
}

#top-bar #menu-button {
  border: hidden;
  background-color: transparent;
  color: black;
}

#top-bar #menu-button span {
  font-size: 25px;
}

#back-buttons {
  padding-top: 25px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#back-buttons span {
  font-size: 35px;
}

#back-buttons #home-button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#back-buttons #back {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.comment-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-section p {
  display: inline-block;
}

.comment-section .all-comments {
  width: 100%;
  border: solid;
  border-color: black;
  border-width: 1px;
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 10px;
  text-align: center;
}

.comment-section .new-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-left: 10px;
}

.comment-section .new-comment button, .comment-section .new-comment input[type="submit"], .comment-section .new-comment input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.comment-section .new-comment input {
  width: 85%;
  font-size: 20px;
}

.comment-section .new-comment span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 8vw;
}

.comment-section .comment {
  border-color: #929292;
  border-style: solid;
  border-width: 5px;
}

.comment-section .comment .content {
  font-size: 20px;
}

.comment-section .comment .username {
  font-size: 15px;
  font-weight: bold;
}

.comment-section .comment .edit-style {
  padding: 20px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.comment-section .comment .edit-style input {
  font-size: 20px;
  margin-bottom: 20px;
}

.comment-section .comment .edit-style span {
  font-size: 8vw;
}

.lds-ring {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.on-comment {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.on-cities {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-top: 25px;
}

.on-create {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin-left: 40%;
}

* {
  margin: 0;
  padding: 0;
}

.row {
  height: 300px;
}

.row img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.row .active {
  background: 0;
}

a {
  font-size: 17px;
  display: inline-block;
  margin-left: 20px;
}

p {
  font-size: 19px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
  background-color: black !important;
}
