#top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 25px 15px 25px;
}

#top-bar #user-button {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  overflow: hidden;
  background-color: transparent;
  color: black;
  background-size: cover;
  border-radius: 50%;
}

#top-bar #no-pfp {
  padding: 25px 0 0 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  background-color: red;
  color: red;
  z-index: 1;
}

#top-bar #logout-button p {
  color: #529cfc;
}

#top-bar #menu-button {
  border: hidden;
  background-color: transparent;
  color: black;
}

#top-bar #menu-button span {
  font-size: 25px;
}
