#top-bar {
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;
    padding: 25px 25px 15px 25px;
    #user-button {
        border-radius: 50%;
        width: 10vw;
        height: 10vw;
        overflow: hidden;
        background-color: transparent;
        color: black;
        background-size: cover;
        border-radius: 50%;
    }
    #no-pfp{
        padding: 25px 0 0 25px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        background-color: red;
        color: red;
        z-index: 1;
    }
    #logout-button{
        p {
        color: rgb(82, 156, 252)
        }
    }
    #menu-button {
        border: hidden;
        background-color: transparent;
        color: black;
        span {
            font-size: 25px;
        }
    }
}